@media (max-width: 1024px) {
	.sec-cover picture {display: none;}
	.sec-cover .container {max-width:100%; padding:0}
	.sec-cover .cover-content {position: static;padding: 40px 24px 52px; background:url(../images/cover-recruitment.jpg) no-repeat center center;background-size: cover;max-width: unset;}
}
